
<div class="form-group">
    <div class="container">

        
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4 text-right">{{ customerState}}</div>
        
    </div>

    <div *ngIf="isLoggedIn" class="container">
        <div class="row">
            <div class="col-sm-3"><a class="btn btn-default" (click)="sayHello()" href="#">Get Resource Owner Info using Authenticated User (via Spring Boot Session)</a></div>
            
        </div>   
        <div class="row">
            <div class="col-sm-3"><a class="btn btn-default" (click)="getGoogleUserInfo()" href="#">Get Resource Owner Info using Google API</a></div>
            <!--<div class="col-sm-9"><img src="{{ imageLink }}"></div>-->
            
        </div>   
        <div class="row">
            <div class="col-sm-9">{{ helloMessage }}</div>
            
        </div>   
    </div>
    
   <br>
   <hr>
   <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
         <!--<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off" (change)="onNgModelChange1($event)" />-->
         <div class="form-check">
            <input
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              (change)="onshowSocialEventLogTableChange($event)"
            />
            <label class="form-check-label" for="flexCheckDefault">What is has happing?</label>
          </div>
    </div>
</div>
    <div *ngIf="showSocialEventLogTable" class="row">
        <div class="container">
            
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>eventNo</th>
                    <th>createdDate</th>
                    <th>calledURL</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody *ngFor="let socialEvent of socialEventItemList">
                <tr>
                    <th>{{ socialEvent.eventNo }}</th>
                    <th>{{ socialEvent.createdDate }}</th>
                    <th>{{ socialEvent.calledURL }}</th>
                    <th>{{ socialEvent.description }}</th>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>